*{
  padding: 0;
  margin: 0;
}
.headerCat{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.catCard{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catImg{
  max-height: 40%;
  max-width: 40%;
  margin: 1rem;
}