*{
  padding: 0;
  margin: 0;
}
.headerCat{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.catCard{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.gallery .CatImage {
  background-color: #5c59ff;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.catImg{
  width: 100%;
  height: auto;
}